<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('css/global.css') }}" rel="stylesheet" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ asset('js/global.js') }}"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block h1 %}<h1><a href="{{ path('default_index') }}">Le Château en Thé - CRM</a></h1></title>{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
